NODE_ENV=development
PORT=3000
CORS_ORIGIN=*
MONGO_URI=

# TOKENS
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

#Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
    
# AI SERVER
AI_URL=
